/* 3 lignes à supprimer si on veut notre propre style ! car sinon par ex les boutons sont transparents */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
}

html, body {
  font-family: Roboto;   /* cursive; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Pour les entête du calendrier (sinon trop gras) */
.fc-col-header-cell {
  background-color: #aaa;
  color: white;
  font-weight: 500;
}

